@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700;800&display=swap');

@media (max-width: 1200px) {
    #hero {
        background: url("../images/bg (5).png") no-repeat center/cover;
    }

    .container {
        max-width: 884px;
    }

    .ken {
        margin-left: 20px;
    }


    .images-fon {
        margin-left: -51px;
    }

    .capabilities-money {
        margin-top: 18px;
    }

    .sea {
        margin-top: 5px;
    }

    .hero-scroll {
        margin-top: 61px;
    }


    .story-suptitle {
        font-size: 19px;
    }

    .story-card-text {
        font-size: 21px;
    }
}

@media (max-width: 991px) {

    .mobile-menu {
        display: block;
        background: none;
        border: none;
        z-index: 100;
        color: white;

        margin-right: 22px;
    }

    .header-item {
        margin-bottom: 10px;
        margin-left: -37px;
    }

    .header-nav {
        display: none;
        width: 50%;
        background-color: darkgrey;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 9;
    }

    .show {
        display: flex;
    }

    .container {
        max-width: 890px;
    }

    .header-logo {
        margin-left: 29px;
    }

    .show {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740px;
    }


    .company-four {
        margin-left: 12px;
    }


    .info-content img {
        display: none;
    }

    .header-logo {
        margin-left: 29px;
    }


    .show {
        margin-right: 30px;
    }

    .images-fon {
        margin-left: -97px;
        margin-right: 23px;
    }


    .capabilities-title:before {
        margin-top: 23px;
    }

    .team-socials {
        max-width: 460px;
        margin-left: 16px;
        margin-top: 87px;

    }

    .company-second {
        margin-left: 191px;
    }

    .ken {
        margin-left: 8px;
    }

    .mobile-menu {
        display: block;
        background: none;
        border: none;
        z-index: 100;
        color: white;

        margin-right: 22px;
    }

    .header-item {
        margin-bottom: 10px;
        margin-left: -37px;
    }

    .header-nav {

        width: 50%;
        background-color: darkgrey;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 9;
    }

    .capabilities-card-title {
        font-size: 10px;
    }

    .caption {
        margin-left: -29px;
    }
    .capabilities-info{
        display: block;
        margin-left: 28px;
    }

}


@media (max-width: 425px) {
    .container {
        max-width: 460px;

    }

    .row {
        flex-direction: column;

    }

    .capabilities-title {
        margin-top: 139px;
    }

    .capabilities-title:before {
        margin-top: 23px;
        margin-left: 1px;
    }
    .company-one{
        margin-left: 6px;
    }

    .col-6 {
        width: 100%;
    }


    .capabilities-info {
        margin-bottom: 76px;
        margin-top: -123px;
    }

    .capabilities-btn-part {
        display: inline-block;

        margin-top: -22px;
    }


    .company-one {
        display: block;
    }

    .company-second {
        margin-left: 6px;
        margin-top: 36px;
    }

    .company-third {
        margin-top: 39px;
        margin-left: 9px;


    }

    .company-four {
        position: absolute;
        padding-top: -188px;
        display: grid;
        margin-left: 15px

    }

    .company-five {
        padding-top: 125px;
        display: grid;

    }

    .hero-title {
        text-align: center;
    }


    .caption {
        display: block;
        margin-left: 17px;
    }

    .stories {
        justify-content: center;
        display: flex;
    }


    .capabilities-card {
        margin-bottom: 48px;
        width: 250px;
        margin-left: -105px;
    }

    #sign-up {
        display: block;
    }

    .sign-up-title {
        padding: 20px;
    }

    #sign-up-form {
        padding: 7px;
    }

    .footer{
        padding: 146px 0 19px
    }


    .team-socials {
        display: block;
        margin-top: 21px;
    }


    .mobile-menu {
        display: block;
        background: none;
        border: none;
        z-index: 100;
        color: white;

        margin-right: 22px;
    }

    .header-item {
        margin-bottom: 10px;
        margin-left: -37px;
    }

    .story-suptitle {

        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        align-items: flex-end;
        letter-spacing: 0.1875px;
        color: #485558;
        /*position: absolute;*/
        /*margin-left: -109px;*/
    }

    .story-subtitle {
        /*position: absolute;*/
        /*margin: 149px 0 30px -116px;*/

    }

    .capabilities-card-title {
        font-size: 15px;
    }

    .first-card-bg {
        height: 225px;
        width: 140px;
    }

    /*}*/
    /*.second-card-bg {*/
    /*    margin: 100px 0 12px 50px;*/
    /*}*/
    /*.third-card-bg {*/
    /*    margin: 100px 0 12px 50px;*/
    /*}*/
    .story-card {
        height: 224px;
        margin-top: 45px;
    }


    .col-4 {
        width: 100%;
    }

    @media (max-width: 375px) {
        .container {
            max-width: 356px;
        }

        .header-item {
            margin-bottom: 10px;

        }

        #hero {

            text-align: center;
        }

        .images-fon {
            margin-top: 112px;
        }


        .company-third {
            margin-top: 26px;
            display: grid;

        }

        .company-four {
            margin-top: -27px;
            margin-left: 10px;
        }

        .company-five {
            margin-left: 10px;
            margin-top: -45px;
        }


        .footer {
            padding: 23px;
            height: 60px;
            background: #171819;

        }


        .company {
            padding-bottom: 640px;
            background: black;

        }
        .company{
            height: 281px;
        }


        .mobile-menu {
            display: block;
            background: none;
            border: none;
            z-index: 100;
            color: white;

            margin-right: 22px;
        }

        .hero-title {
            text-align: center;
            font-size: 49px;
        }

        .company-second {

            margin-top: 10px;
        }

        .images-fon {
            display: block;
        }

        .story-suptitle {


            font-size: 18px;
            color: #48555B;


        }

        .capabilities-money {

            margin: 43px 0 20px 0;
        }

        .capabilities-card {
            margin-left: 12px;
        }

        .sea {
            margin-top: 14px;
        }
    }
}









...

@media (max-width: 915px) {
    .company-one {
        margin-left: 40px;
    }
}

@media (max-width: 713px) {
    .capabilities-info {
        display: block;
        margin-left: 30px;

    }

    .caption {
        display: block;
    }

    .house {
        width: 51.333%;
        margin-bottom: 38px;
        margin-left: 176px;

    }

    .team-socials {
        display: block;
        margin-left: -644px;
        margin-top: 218px;

    }
}


@media (max-width: 502px) {
    .hero-title {
        text-align: center;
    }

    .reacts {
        display: block;
        margin-top: 550px;

    }

    .story-suptitle {
        font-size: 19px;
        position: absolute;
        margin-left: -102px;
    }

    .story-subtitle {
        position: absolute;
        margin-top: 159px;
        margin-left: -103px
    }

}

@media (max-width: 551px) {
    .hero-title {
        text-align: center;
    }

    .first-card-bg {
        width: 162px;
        margin-bottom: 30px;
    }

    .second-card-bg {
        width: 162px;
        margin-bottom: 30px;
    }

    .third-card-bg {
        width: 162px;
    }

    .reacts {
        display: block;
    }

    .company {
        height: 749px;
    }

    .company-one {
        display: block;
        margin-left: 30px;
    }

    .company-second {
        margin-left: 0;
        display: grid;
        margin-top: 15px;
    }

    .company-third {
        margin-left: 0;
        display: grid;
        margin-top: 56px;
    }

    .company-four {
        margin-top: -21px;
        margin-left: 0;
    }

    .company-five {
        margin-left: 0;
    }

    #sign-up {
        display: block;
        padding-left: 30px;
    }

    #sign-up-form {
        margin-top: 15px;
    }

    .team-socials{
        margin-left: 0;
        margin-top: 29px;

    }
.house{
    width: 57.333%;
    margin-bottom: 38px;
    margin-left: 130px;
}

    @media (max-width: 415px) {
.story-suptitle{
    font-size: 17px;
    position: absolute;
    margin-left: -81px;
}
        .story-subtitle{
            position: absolute;
            margin-top: 159px;
            margin-left: -83px;
        }
        .stories{
            margin-top: -181px;
        }
        .capabilities-btn-part{
            display: inline-block;
            margin-top: -16px;
            margin-left: -30px;
        }
        .sea{
            margin-top: 22px;
        }
        .capabilities-title{
            margin-top: 131px;
        }
        .house {
            width: 57.333%;
            margin-bottom: 38px;
            margin-left: -2px;

        }
        .company{
            height: 256px;
        }
        #sign-up{
            padding-left: 0;
        }
        #sign-up-form{
            margin-top:  -7px;
        }
    }
    @media (max-width: 355px){
        .story-suptitle{
            font-size: 16px;
            position: absolute;
            margin-left: -60px;
        }
        .story-subtitle{
            position: absolute;
            margin-top: 159px;
            margin-left: -66px;
        }
        .capabilities-btn-part{
            display: inline-block;
            margin-top: -40px;
            margin-left: 8px;

        }
        .capabilities-card{
            margin-left: -11px;
        }


    }
}


@media (max-width: 387px){
    .house{
        margin-left: -14px;
    }
    .capabilities-btn-part{
        margin-left: 0;
    }
    .story-suptitle{
        font-size: 20px;
        position: absolute;
         margin-left: -90px;
        text-align: center;

    }
    .story-subtitle{
        margin-left: -58px;
    }
}
@media (max-width: 363px){
    .story-subtitle{
        margin-left: -67px;
    }
    .card{
        margin-top: -21px;
    }
    .capabilities-card{
        margin-left: 7px;
    }
    .company{
        height: 290px;
    }
}






















